body {
    background-color: blueviolet;
    
}
.box1 {
    max-width: 100%;
    max-height: auto;
    background-color: rgb(174, 108, 236);
    margin: 60px 50px 20px;
    padding: 20px 40px;
    border: 4px solid rgb(151, 7, 151);
    border-radius: 30px;
    outline: 6px solid red;
    outline-offset: 12px;
    box-shadow: -6px -6px 6px yellowgreen,
                 6px 6px 6px yellowgreen;
}
h1 {
    position: sticky;
    top: 0;
    color: white;
    background-color: rgb(129, 49, 12);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    border-width: 5px 6px 6px;
    border-style: solid dotted dashed;
    border-color: rgb(159, 238, 12) yellowgreen yellow;
    border-radius: 20px;
    outline: 6px solid red;
    outline-offset: 12px;
    box-shadow: -6px -6px 6px yellowgreen,
                 6px 6px 6px yellowgreen;

}
.rabby {
    
    margin-top: 40px;
    padding: 35px 20px 5px;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    border: 2px solid blue;
    

    text-transform: capitalize;
    text-indent: 80px;
    letter-spacing: 3px;
    word-spacing: 5px;
    line-height: 25px;

    outline: 2px solid blue;
    outline-offset: 4px;

    justify-content: center;

}
.box2 {
    max-width: 100%;
    max-height: 80px;
    background-color: aquamarine;
    padding: 4px 30px;
    text-align: right;
    
}
.box2 ul li {
    overflow: scroll;
    text-decoration: none;
    display: inline;
    color: blue;
    background-color: blueviolet;
    padding: 10px;
    margin: 2px 20px;
    border: 3px solid blue;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.box2:hover {
    max-width: 100%;
    max-height: 60px;
    background-color: rgb(219, 199, 16);
    padding: 4px 30px;
    text-align: right;

}
.box2 ul li:hover {
    text-decoration: none;
    display: inline;
    color: red;
    background-color: rgb(15, 183, 224);
    padding: 10px;
    margin: 2px 20px;
    border: 3px solid rgb(168, 10, 216);
    border-radius: 15px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

}
.box3 {
    max-width: 100%;
    max-height: auto;
    background-color: blueviolet;
    display: flex;
    margin: 2px;
    padding: 10px 8px;
    justify-content: center;
    align-items: center;
}
.box31 {
    width: 400px;
    height: 350px;
    background-color: darkgray;
    border: 3px solid black;
    padding: 10px;
    margin: 15px;
    justify-content: center;
    align-items: center;
}
.box31:hover {
    width: 410px;
    height: 340px;
    background-color: rgb(230, 148, 148);
    border: 5px solid rgb(22, 9, 211);
    padding: 12px;
    margin: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}
.box32 {
    width: 400px;
    height: 350px;
    background-color: darkgray;
    border: 3px solid black;
    padding: 10px;
    margin: 15px;
    justify-content: center;
    align-items: center;
}
.box32:hover {
    width: 410px;
    height: 340px;
    background-color: rgb(230, 148, 148);
    border: 5px solid rgb(22, 9, 211);
    padding: 12px;
    margin: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}
.box33 {
    width: 400px;
    height: 350px;
    background-color: darkgray;
    border: 3px solid black;
    padding: 10px;
    margin: 15px;
    justify-content: center;
    align-items: center;
}
.box33:hover {
    width: 410px;
    height: 340px;
    background-color: rgb(230, 148, 148);
    border: 5px solid rgb(22, 9, 211);
    padding: 12px;
    margin: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}
